body {
    background-color: #1F2F4C;
    background-size: cover;
    font-family:sans-serif;
    font-weight: bold;
    display: flex;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

